@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root{
    --clr-violet: hsl(263, 55%, 52%);
    --clr-dark-grayish-blue: hsl(217, 19%, 35%);
    --clr-dark-blackish-blue:hsl(219, 29%, 14%);
    --clr-white:hsl(0, 0%, 100%);
    --clr-light-gray:hsl(0, 0%, 81%);
    --clr-light-grayish-blue:hsl(210, 46%, 95%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 13px;
    font-family: 'Barlow Semi Condensed',sans-serif;
    background-color: var(--clr-light-grayish-blue);
    height: 100vh;
}
.container{
    padding-block: 2rem;
    width: calc(100% - 20%);
    margin-inline: auto;
    display: grid;
    gap: 2rem;
    
}

/*
    name and status : 50% opecity
    quote : 70% opecity
    weights: 500, 600
*/
.testimonial{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1.5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    /*box-shadow: x y blure color*/
    box-shadow: 7px 7px 15px var(--clr-light-gray);
}
.testimonial .info{
    display: flex;
}
.info img{
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.testimonial .info > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 1rem;
}
.testimonial .info,.description,.quote{
    margin-bottom: 1rem;
}
.testimonial .status,.quote{
    opacity: 50%;
    font-weight: 500;
}
.testimonial .name{
    opacity: 70%;
    font-weight: 600;
}
.quoteImg{
    background-image: url(/images/bg-pattern-quotation.svg);
    background-repeat: no-repeat;
    background-position: top right 10%;
}
.testimonial:nth-child(1){
    background-color: var(--clr-violet);
    color: var(--clr-white);
}
.testimonial:nth-child(2){
    background-color: var(--clr-dark-grayish-blue);
    color: var(--clr-white);
}
.testimonial:nth-child(3){
    background-color: var(--clr-white);
    color: var(--clr-dark-grayish-blue);
}
.testimonial:nth-child(4){
    background-color: var(--clr-dark-blackish-blue);
    color: var(--clr-white);
}
.testimonial:nth-child(5){
    background-color: var(--clr-white);
    color: var(--clr-dark-grayish-blue);
}
@media (min-width: 375px){
    .container{
        grid-template-columns: repeat(4, 1fr);
    }
    .grid-col-span2{
        grid-column: span 2;
    }
    article:last-child{
        grid-column-start: 4;
        grid-row: 1 / span 2;
    }
}
